@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Libre Baskerville', serif;
    background-color: #302915;
} 

.title {
    text-align: center;
}

ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding-bottom: 7px;
  }
  
  li { 
    display: inline;
    padding: 2em;
  }

  .containter {
    padding: 5px;
	display: flex;
    flex-wrap: wrap;
    background-color: #69614C;
    justify-content: center;
    width: 99%;
}

img {
    flex: 1 0 21%; 
	width: 350px;
	height: 200px;
	margin: 10px;
	transition: all 1s
}

article {
    flex: 1 0 21%; 
    width: 350px;
	height: 200px;
}

img:hover {
	transform: scale(1.1);
}
